
.betweencomponents{
    display: grid;
    background-color: blue;
    grid-template-columns: 6fr 1fr;
}
.AllContents{
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}