.Header{
    display: flex;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100%;
    position:fixed;
    z-index: 10;
}
.Header2{
    display: flex;
    background-color: black;
    color: aliceblue;
    width: 100%;
    z-index: 23;
   
}
.headerBar{
    margin: 15px 10px;
    color: aqua;
    text-decoration-line:underline;
    font-size: 20px;
   
}
.headerBar:hover{
    border: 1px solid white;
}
.headerFirst{
    font-size: 12px;
   
}
.buttonSearch{
    font-size: 30px;
}

.headerSecond{
    font-size: 17px;
  
}
.search{
    height: 30px;
    width: 802px;
}