.firstgridBox{
    border: 1px solid whitesmoke;
    padding: 15px 15px;
    margin: 10px 10px ;
    background-color: whitesmoke;
}

.firstgridBox:hover{
    background-color: rgb(252, 252, 252);
    transition: ease-in 1ms;
    transform: rotate(23);
   
}

.containerName{
   font-size: 20px;
   display: flex;
}

.secondfirstgridBox{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.boxsecondfirstgridBox{
    width:100px ;
    height: 100px;
    display: flex;
    align-items: cene;
    justify-content: center;
    padding: 7px 7px;
    margin: 10px 10px;
}

